.navbarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 12px 0;
  width: 100%;
  height: 70px;
  gap: 1.5rem;
}
div.title{
  padding: 5px 1.5rem;
  font-size: 1.2rem;
  color: #fff;
  /* gap: 2rem; */
  cursor:pointer;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  &:hover{
    color: #FFD700;
    background: linear-gradient(135deg, #2C3E50, #1E2A38);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    border-radius: 18px;
  }
}
.title.active{
  color: #FFD700;
  background: linear-gradient(135deg, #2C3E50, #1E2A38);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  transform: scale(1.05);
  border-radius: 18px;
}

.cv-wrapper {
  display: grid;
  place-items: center;
  border: 1px solid #fff;
  padding: 13px;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  right: 22px;
  cursor: pointer;
}
#main-container {
  overflow-y: auto;
  max-height: calc(100vh - 70px);
  margin-top: 70px;
}
.section-wrapper{
  padding: 10px;
}
.info-section{
  margin: auto;
  max-width: 1045px;
}
/* font-family: "Open Sans", sans-serif; */

/* div.intro-wrapper span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
} */

.intro-wrapper{
  /* box-shadow: 5px 10px #888888; */
  box-shadow: -50px -50px 5px -50px #fff, 50px -50px 5px -50px aqua;
  padding: 5px 1.2rem;
}

.social-media-wrapper{
  display: flex;
  gap: 2rem;
  margin: 1rem auto;
  max-width: fit-content;
}

p.about-me{
  /* width: 50%; */
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-top: 5px;
}

.skill-header {
  width: max-content;
  margin: 0 auto 3rem;
  padding: 5px 1rem;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.welcome-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.skill-row {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 10px;
  align-items: center;
}

.skill-row div{
  padding: 13px 16px;
  font-size: 1.2rem;
  margin-top: 6px;
  margin-bottom: 6px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.skill-row div img{
  vertical-align: middle;
  height: 30px;
  width: 30px;
  margin-right: 8px;
}
.skill-row div span{
  vertical-align: middle;
}

.project-wrapper{
  max-width: 1200px;
  margin: 1rem auto;
}
.card {
  color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #882aa2;
  box-shadow: 8px 8px 0 0 #b039d5;
  margin-bottom: 5rem;
}

.company-name {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}
.position-title {
  font-size: 1.3rem;
  color: #cbb105;
  font-weight: 600;
}

.location-period {
  font-size: 1rem;
  text-transform: capitalize;
  text-align: end;
  color: #C5C6D0;
  margin-bottom:1.5rem;
}

.project-title{
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 600;
  color: #e39ff1;
  margin: 0px 0;
}
.tech-stack-used {
  margin-top: 10px;
}
.tech-stack-used span{
  color: #708090;
}

.bullet-point{
  padding-left: 2px;
  color : #E8E8E8;
}
.bullet-point li{
  margin: 4px 0;
  padding: 2px 0;
  font-size: 14px;
}
.w_0_1_wrapper{
  display: flex;
}
@media (min-width: 768px) {
  .project-wrapper {
    max-width: 1200px;
  }
}
div.img-wrapper{
  width: 35%;
  text-align: center;
}
div.img-wrapper img{
  border-radius: 10px;
}

