.navbarWrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
div.title{
  padding: 1.5px 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  margin: 0 1rem;
  font-weight: 600;
}
.cv-wrapper {
  display: grid;
  place-items: center;
  border: 1px solid #fff;
  padding: 13px;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  right: 22px;
  cursor: pointer;
}

div.title:hover {
  background-color: aqua;
  border-radius: 16px;
  /* transition-duration: 2s ; */

}

/* .info-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.info-section{
  margin: 1rem auto;
  max-width: 1045px;
}
/* font-family: "Open Sans", sans-serif; */

/* div.intro-wrapper span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
} */

.intro-wrapper{
  /* box-shadow: 5px 10px #888888; */
  box-shadow: -50px -50px 5px -50px #fff, 50px -50px 5px -50px aqua;
  padding: 5px 1.2rem;
}

.social-media-wrapper{
  display: flex;
  gap: 15px;
  margin: 1rem auto;
  max-width: fit-content;
}

.about-me{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  word-break: normal;
}
.about-me p{
  width: 50%;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1px;
}

.skill-header {
  width: max-content;
  margin: 10px auto;
  padding: 5px 1rem;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.welcome-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  margin: 0;
}

.skill-row {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 10px;
  align-items: center;
}

.skill-row div{
  padding: 10px 16px;
  font-size: 1.2rem;
  margin-top: 6px;
  margin-bottom: 6px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.skill-row div img{
  vertical-align: middle;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.skill-row div span{
  vertical-align: middle;
}
.welcome-text::after{
  content: '.';
}
.about-me{
  font-size: 2rem;

}